.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    border-bottom: solid 1px #5555;
    text-align: center;
    position: relative;
}

.mainbody{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    position: relative;
    margin: 15px;
}

.footer{
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 14px;
    color: #999;
    text-align: center;
    position: relative;
}

.subheader {
    float: right;
}

.background{
    background-color: antiquewhite;
}

.font{
    font-family: 'Times New Roman', Times, serif;
}

.color{
    color: rgb(116, 116, 116);
}

.color2 {
    color: black
}